header#header {
  margin-bottom: 100px;
}
section#lesson {
  height: 100px;
}
section#lesson .lesson-content .tab-content {
  margin-top: 20px;
  margin-bottom: 20px;
}
section#register,
section#login {
  text-align: center;
  margin-bottom: 30px;
}
section#register form,
section#login form {
  text-align: left;
  width: 50%;
  margin: 0 auto;
}
section#register form .btn-main,
section#login form .btn-main {
  text-align: center;
}
section#register form .btn-main button,
section#login form .btn-main button {
  display: inline-block;
  min-width: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
}
section#quiz .container {
  width: 100%;
}
#sidebar {
  margin-top: 50px;
}
#sidebar a:hover,
#sidebar a:focus {
  text-decoration: none;
}
#sidebar ul.sidebar-menu li {
  margin-bottom: 3px;
}
#sidebar ul.sidebar-menu li a {
  background-color: #313b3d;
  padding: 10px;
  display: block;
  color: #e1e1e1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#sidebar ul.sidebar-menu li a:hover {
  color: #cca300;
}
#sidebar ul.sidebar-menu li:hover ul.sub {
  display: block;
}
#sidebar ul.sidebar-menu ul.sub {
  display: none;
  margin-top: 5px;
  padding-left: 10px;
}
.t-btn-group a.btn {
  display: block;
  margin-bottom: 5px;
}
#them-course {
  float: right;
  font-size: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
