header#header {
  margin-bottom: 100px;
}


section#lesson {
  height:100px;
  .lesson-content {
    .tab-content {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

section#register, section#login {
  text-align: center;
  margin-bottom: 30px;
  form {
    text-align: left;
    width: 50%;
    margin: 0 auto;
    .btn-main {
      text-align: center;
      button {
        display: inline-block;
        min-width: 100px;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
}

section#quiz {
  .container {
    width:100%;
  }
}

#sidebar {
  margin-top: 50px;
  a:hover, a:focus {
    text-decoration: none;
  }
  ul.sidebar-menu {
    li {
      margin-bottom: 3px;
      a {
        background-color: #313b3d;
        padding:10px;
        display: block;
        color: #e1e1e1;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        &:hover {
          color: #cca300;
        }
      }
      &:hover {
        ul.sub {
          display: block;
        }
      }
    }
    ul.sub {
      display: none;
      margin-top: 5px;
      padding-left: 10px;
    }
  }
}

.t-btn-group {
  a.btn {
    display: block;
    margin-bottom: 5px;
  }
}


#them-course {
  float: right;
  font-size: 20px;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
}

